<!DOCTYPE html>
<html lang="en" ng-app="todo">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>On My Plate</title>
    <link rel="shortcut icon" href="images/icon-64.png" type="image/x-icon" />
    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom css -->
    <link href="css/onmyplate.css" rel="stylesheet">
</head>

<body ng-controller="todoController" ng-init="loadData()">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>{{appName}}</h2>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="newTodoText" ng-keydown="onNewTodoKeyDown($event)" placeholder="Add stuff to your plate...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="toggleOptions()">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </button>
                    </span>
                </div>
                <hr/>
            </div>
            <div class="col-xs-12" ng-show="showMoreOptions">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="duedate" class="col-xs-4 control-label">Due Date</label>
                        <div class="col-xs-8">
                            <input type="date" ng-model="newTodoDueDate" class="form-control" id="duedate" placeholder="Due Date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="duetime" class="col-xs-4 control-label">Time</label>
                        <div class="col-xs-8">
                            <input type="time" ng-model="newTodoDueTime" class="form-control" id="duetime" placeholder="Time">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-8">
                            <button class="btn btn-primary" ng-click="addNewTodo()">Save</button>
                        </div>
                    </div>
                </form>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="list-group">
                    <a ng-repeat="todo in todos track by $index" ng-click="showOptions($index)" class="list-group-item">
                        <span class="badge" ng-show="todo.duedate">{{todo.duedate | daysLeft}}</span>
                        <div>
                            <strong>{{todo.text}}</strong>
                            <br/>
                            <small ng-show="todo.duedate">
                                <em>Due on {{todo.duedate | date:'dd-MM-yyyy'}}</em>
                            </small>
                            <small ng-show="todo.duetime">
                                <em>at {{todo.duetime}}</em>
                            </small>
                        </div>
                        <div class="hidden-at-load" id="options{{$index}}">
                            <br/>
                            <div class="btn-group">
                                <button type="button" class="btn btn-danger" ng-click="removeItem($index)">Off my plate!</button>
                                <button type="button" class="btn btn-default" ng-click="showEditPanel($index)">Edit</button>
                                <button type="button" class="btn btn-default" ng-click="prioritizeItem($index)">Prioritize</button>
                            </div>
                        </div>
                        <div class="hidden-at-load" id="editpanel{{$index}}">
                            <hr/>
                            <strong>Edit Todo:</strong>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" ng-model="todo.text" placeholder="Add stuff to your plate...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">Due Date</label>
                                    <div class="col-xs-8">
                                        <input type="date" ng-model="todo.duedate" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-xs-4 control-label">Time</label>
                                    <div class="col-xs-8">
                                        <input type="time" ng-model="todo.duetime" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-offset-4 col-xs-8">
                                        <button class="btn btn-primary" ng-click="saveEditTodo($index)">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <!-- Angular -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-touch.min.js"></script>
    <!-- App Logic -->
    <script src="js/todo-filters.js"></script>
    <script src="js/todo.js"></script>
    <!-- Bootstrap -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Other page related functions -->
    <script src="js/otherFunctions.js"></script>
</body>

</html>